@media (max-width: 768px) {
  .header-content {
    grid-template-areas: 
        "i t"
        "p p"
        "c c";
  }

  .intro-content {
    grid-template-areas:
        "a"
        "r";
  }
}

@media (max-width: 732px) {
  .header-content {
    grid-template-areas: 
        "i"
        "t"
        "p"
        "c";
  }

  .header-content > h1 {
    margin-bottom: 8px;
    border-top: none;
    border-right: none;
    border-bottom: 4px solid var(--white-1);
    box-shadow: 0 3px var(--white-5),
                0 6px var(--lines-1);
  }

  .header-content > h1:hover {
    background: linear-gradient(180deg, transparent, #fff4);
  }

  .header-content > * {
    max-width: 496px;
  }
}

@media (max-width: 480px) {
  /* .color-theme {
    display: grid;
    min-width: 100%;
    grid-auto-rows: 1fr;
    grid-auto-columns: 1fr;
    grid-template-areas:
        "c1 c1 c2 c2 c3 c3"
        "c4 c4 c4 c5 c5 c5";
    place-items: center;
  }

  .color-theme > span {
    margin: auto;
  }

  .color-theme > span:nth-child(1) {
    grid-area: c1;
  }
  
  .color-theme > span:nth-child(2) {
    grid-area: c2;
  }
  
  .color-theme > span:nth-child(3) {
    grid-area: c3;
  }
  
  .color-theme > span:nth-child(4) {
    grid-area: c4;
  }
  
  .color-theme > span:nth-child(5) {
    grid-area: c5;
  } */

  .color-theme > span {
    width: 36px;
  }
}

@media (max-width: 448px) {
  .header-logo {
    height: 192px !important;
  }

  .header-logo > span:nth-of-type(1) {
    height: 160px;
  }
  
  .header-logo > span:nth-of-type(2) {
    height: 192px;
    animation: rotate-reverse 1s linear infinite;
  }
  
  .header-logo > span:nth-of-type(3) {
    height: 224px;
  }

  .header-content > h1 {
    font-size: 44px;
  }

  .header-content > p {
    font-size: 30px;
  }

  .color-theme {
    margin-top: 16px;
    height: 48px;
    border-radius: 24px;
    width: 100%;
    /* background: linear-gradient(90deg, var(--clr-1-a) 20%, var(--clr-2-a) 40%, var(--clr-3-a) 60%, var(--clr-4-a) 80%, var(--clr-5-a) 100%); */
    background: linear-gradient(90deg,  var(--clr-1-a) 16%, #0008 16%, #0008 21%, var(--clr-2-a) 21%,
                                        var(--clr-2-a) 37%, #0008 37%, #0008 42%, var(--clr-3-a) 42%,
                                        var(--clr-3-a) 58%, #0008 58%, #0008 63%, var(--clr-4-a) 63%,
                                        var(--clr-4-a) 79%, #0008 79%, #0008 84%, var(--clr-5-a) 84%,
                                        var(--clr-5-a) 100%);
    animation: shadow-around 1s linear infinite, reverse-gradient 2s linear infinite;
    transition: all 0.2s ease-in-out;
  }

  .color-theme:hover {
    transform: scale(1.1);
  }
  
  .color-theme > span {
    display: none;
  }
}

@media (max-width: 376px) {
  .header-content > h1 {
    font-size: 36px;
  }

  .header-content > p {
    font-size: 24px;
  }
}

@media (min-width:1025px) {
  .header {
    min-height: 100vh;
  }
}

@media (min-width:1440px) {
  .header {
    height: 100%;
    flex: 1;
    min-height: 864px;
    max-height: 864px;
  }
}