@media (max-width: 976px) {
  .intro-content {
    grid-template-areas:
        "a"
        "r";
  }

  .intro-about-ctn {
    grid-template-areas:
        "i c";
  }

  .intro-role-ctn {
    grid-template-areas:
        "c i";
  }

  .intro-img-ctn {
    min-width: 384px;
    margin-inline: auto;
  }

  .intro-card-content > h2 {
    margin-inline: auto;
  }
}

@media (max-width: 864px) {
  .intro-about-ctn,
  .intro-role-ctn {
    grid-template-areas:
      "i"
      "c";
  }
}

@media (max-width: 768px) {
  .header-content {
    grid-template-areas: 
        "i t"
        "p p"
        "c c";
  }
}

@media (max-width: 732px) {
  .header-content {
    grid-template-areas: 
        "i"
        "t"
        "p"
        "c";
  }

  .header-content > h1 {
    margin-bottom: 8px;
    border-top: none;
    border-right: none;
    border-bottom: 4px solid var(--white-1);
    box-shadow: 0 3px var(--white-5),
                0 6px var(--lines-1);
  }

  .header-content > h1:hover {
    background: linear-gradient(180deg, transparent, #fff4);
  }

  .header-content > * {
    max-width: 496px;
  }
}

@media (max-width: 480px) {
  .color-theme > span {
    width: 36px;
  }

  .intro-img-ctn {
    min-width: 0;
    max-width: 356px;
  }
}

@media (max-width: 448px) {
  .header-logo {
    height: 192px !important;
  }

  .header-logo > span:nth-of-type(1) {
    height: 160px;
  }
  
  .header-logo > span:nth-of-type(2) {
    height: 192px;
    animation: rotate-reverse 1s linear infinite;
  }
  
  .header-logo > span:nth-of-type(3) {
    height: 224px;
  }

  .header-content > h1 {
    font-size: 44px;
  }

  .header-content > p {
    font-size: 30px;
  }

  .color-theme {
    display: grid;
    grid-template-areas:
        "c1 c1 c2 c2 c3 c3"
        "c4 c4 c4 c5 c5 c5";
    place-items: center;
  }

  .color-theme > span {
    width: 48px;
  }

  .intro-card-content > h2 {
    display: flex;
    flex-wrap: wrap;
    width: 0;
    min-width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 376px) {
  .header-content > h1 {
    font-size: 36px;
  }

  .header-content > p {
    font-size: 24px;
  }
}

@media (min-width: 977px) {
  .intro-about-ctn {
    grid-template-areas:
      "i"
      "c";
  }

  .intro-role-ctn {
    grid-template-areas:
        "i"
        "c";
  }
}

@media (min-width:1025px) {
  .header {
    min-height: 100vh;
  }
}

@media (min-width:1440px) {
  .header {
    height: 100%;
    flex: 1;
    min-height: 864px;
    max-height: 864px;
  }
}