@font-face {
  font-family: 'Oswald Light';
  src: url('../fonts/Oswald-Light.ttf');
}

@font-face {
  font-family: 'Oswald Bold';
  src: url('../fonts/Oswald-Bold.ttf');
}

:root {
  --clr-1-a: hsl(242, 100%, 75%);
  --clr-1-b: hsl(242, 100%, 82%);
  --clr-1-c: hsl(242, 100%, 65%);
  --clr-2-a: hsl(208, 100%, 57%);
  --clr-2-b: hsl(208, 100%, 70%);
  --clr-2-c: hsl(208, 100%, 47%);
  --clr-3-a: hsl(157, 69%, 51%);
  --clr-3-b: hsl(157, 70%, 66%);
  --clr-3-c: hsl(157, 70%, 35%);
  --clr-4-a: hsl(50, 100%, 50%);
  --clr-4-b: hsl(50, 100%, 65%);
  --clr-4-c: hsl(50, 100%, 40%);
  --clr-5-a: hsl(32, 100%, 50%);
  --clr-5-b: hsl(32, 100%, 65%);
  --clr-5-c: hsl(32, 100%, 40%);

  --white-1: #ffffff;
  --white-2: #e0e0e0;
  --white-3: #b0b0b0;
  --white-4: #808080;
  --white-5: #606060;

  --lines-1: #131746;

  --header-bg-clr: #0080ff;

  --text-clr: white; 
}

*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: solid 1px #0002;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: 'Oswald Light', sans-serif;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

h1 {
  font-family: 'Oswald Bold', sans-serif;
}

main section {
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  background: var(--header-bg-clr);
  background-image: url('../images/Circuit Primary.svg');
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
  box-shadow: 0 0 0 4px var(--lines-1),
              0 4px 8px var(--lines-1);
  background-blend-mode: luminosity;
}

.header-content {
  display: flex;
  flex-direction: column;
  margin: 8px;
}

.header-topic {
  display: flex;
  flex: 1;
  width: 100%;
  align-items: center;
}

.header-topic > img {
  height: 128px;
  transition: all 0.2s ease-in-out;
}

.header-title > *:nth-child(1) {
  grid-area: t1;
}

.header-title > *:nth-child(2) {
  grid-area: t2;
}

.header-title > *:nth-child(3) {
  grid-area: c;
}

.header-title {
  display: grid;
  flex-direction: column;
  gap: 4px;
  padding-left: 36px;
  grid-auto-rows: 1fr;
  grid-template-areas: 
      "t1"
      "t2"
      "c";
  position: relative;
  transition: all 0.2s ease-in-out;
  place-items: center;
  column-gap: 16px;
}

.header-title:before {
  content: '';
  position: absolute;
  height: 100%;
  width: 4px;
  background: var(--white-1);
  left: 0;
  box-shadow: -2.5px 2.5px var(--lines-1);
}

.header-title > h1 {
  color: var(--text-clr);
  text-transform: uppercase;
  font-size: 24px;
  padding-block: 4px;
  text-shadow: -3px 2px var(--lines-1);
}

.header-title > p {
  background: var(--clr-3-a);
  text-align: center;
  color: var(--text-clr);
  font-weight: bold;
  box-shadow: -4px 4px var(--clr-3-c),
              -8px 8px var(--lines-1);
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.header-color-ctn {
  height: 48px;
  display: flex;
  padding: 8px;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}

.colors-theme > * {
  height: 100%;
  aspect-ratio: 1;
  border-radius: 50%;
  margin: auto;
  box-shadow: -4px 4px var(--lines-1);
}

.colors-theme > *:nth-child(1){
  background: var(--clr-5-a);
}

.colors-theme > *:nth-child(2){
  background: var(--clr-4-a);
}

.colors-theme > *:nth-child(3){
  background: var(--clr-3-a);
}

.colors-theme > *:nth-child(4){
  background: var(--clr-2-a);
}

.colors-theme > *:nth-child(5){
  background: var(--clr-1-a);
}

.header-topic > img,
.colors-theme > *,
.header-title > h1,
.header-title > p {
  transition: all .2s ease-in-out;
}

.header-topic > img:hover,
.header-title > h1:hover,
.header-title > p:hover {
  transform: scale(1.05);
}

.colors-theme > *:hover {
  transform: scale(1.1);
  animation: shadow-around 1s linear infinite;
}

@keyframes shadow-around {
  0% {
    box-shadow: -4px 4px var(--lines-1);
  }
  6.25% {
    box-shadow: 0 0 var(--lines-1);
  }
  12.5% {
    box-shadow: 4px -4px var(--lines-1);
  }
  18.75% {
    box-shadow: 0 -6px var(--lines-1);
  }
  25% {
    box-shadow: -4px -4px var(--lines-1);
  }
  31.25% {
    box-shadow: 0 0 var(--lines-1);
  }
  37.5% {
    box-shadow: 4px 4px var(--lines-1);
  }
  43.75% {
    box-shadow: 0 6px var(--lines-1);
  }
  50% {
    box-shadow: -4px 4px var(--lines-1);
  }
  56.25% {
    box-shadow: 0 0 var(--lines-1);
  }
  62.5%{
    box-shadow: 4px -4px var(--lines-1);
  }
  68.75% {
    box-shadow: 6px 0 var(--lines-1);
  }
  75% {
    box-shadow: 4px 4px var(--lines-1);
  }
  81.25% {
    box-shadow: 0 0 var(--lines-1);
  }
  87.5% {
    box-shadow: -4px -4px var(--lines-1);
  }
  93.75% {
    box-shadow: -6px 0 var(--lines-1);
  }
  100% {
    box-shadow: -4px 4px var(--lines-1);
  }
}

@media (min-width: 698px) {
  .header-title {
    grid-template-areas: 
        "t1 t2"
        "t1 c";
  }

  .header-title > h1 {
    font-size: 36px;
    max-width: 224px;
  }
}