*, *:before, *:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  /* outline: solid 1px black; */
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  position: relative;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

main section {
  display: flex;
  flex-direction: column;
}